@mixin article-card($color,$border-color,$font-size:1rem) {
    color:$color;
    border:1px solid $border-color;
    font-size: $font-size;
}

.container{
    @include article-card(green,red);
    text-align:center;
    h1{
        display:inline-block;
        border-bottom:1px solid blue;
    }
    .section-1{
        display:flex;
        padding:1em;
        .blue-color{
            padding:2em;
            @include article-card(blue,green);
        }
        .red-color{
            @include article-card(red,green);
            padding:2em;
        }
    }

    $fontsize:f(24)+"px";
    
    .section-2{
        padding:1em;
        .green-color{
            @include article-card(green,blue,$fontsize);
            padding:2em;
           
    }
}

}